form {
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}

form input {
  height: 50px;

  padding: 0.5rem 1rem;

  border: none;
  outline: transparent;
  border-bottom: 3px solid #4ea8de;

  background: none;
}

form input::placeholder {
  opacity: 0.3;
  color: #000;

  font-style: italic;
}

form button {
  width: 50px;
  height: 50px;

  border: none;
  border-radius: 100% 100% 100% 0;

  background-color: #4ea8de;
  color: #fff;

  text-transform: uppercase;
  font-size: 1.5rem;

  cursor: pointer;
}

main {
  min-height: calc(100vh - 100px - 1rem);

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;

  gap: 1rem;

  margin-inline: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

ul li:not(:last-of-type) {
  border-bottom: 2px solid #ccc;
}

ul li button.remove,
ul li button.checkbox {
  width: 30px;
  height: 30px;

  flex-shrink: 0;

  border: none;

  cursor: pointer;
}

ul li button.checkbox {
  border: 2px solid #4ea8de;
  border-radius: 100%;
}

ul li.done button.checkbox {
  background-color: #4ea8de;

  border: none;
}

ul li button.remove {
  background-color: #EE4B2B;
  color: #fff;

  border-radius: 4px;
}

ul li input[type="text"] {
  width: 100%;
  height: 30px;

  padding-inline: 0.5rem;

  border: none;
}

ul#todo::before,
ul#done::before {
  width: 100%;

  display: block;

  text-align: center;

  margin-bottom: 1rem;

  color: #4ea8de;

  font-size: 1.5rem;
}

ul#todo::before {
  content: "Tarefas";
}

ul#done::before {
  content: "Concluídas";
}
