main {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-direction: column;
}

main h2 {
  margin-bottom: 1rem;

  font-size: 7vw;

  cursor: default;
}

main p {
  text-align: justify;

  margin: 0 auto;
  padding-inline: 1rem;

  line-height: 1.5rem;

  max-width: 800px;
}

main p::first-letter {
  font-size: 250%;
  padding: 12px 2px;
  margin-right: 6px;
  float: left;
}

main p:not(:first-of-type) {
  border-top: 3px solid #ccc;

  margin-top: 1rem;
  padding-top: 1rem;
}
